body{
  background-color: darkgray;
  display: flex;
  color: white;
  height: 100px
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden; /* Opcional: evita scroll */
}


/*Pantalla*/
#screen{
  position: absolute;
  display: flex;
}
.screen-open{
  height: 100dvh;
  width: 100vw;
  background: black;
}

.button--start{
  width: 60vw;
  height: 10vh;
  margin: auto;
}

/* Cuando la pantalla está en horizontal (landscape) */
@media screen and (orientation: landscape) {
  button {
    width: 30vw;
    height: 15vh;
  }
}




/*Narrador*/

#narrador{
  position: absolute;
  top: 0;

}



#menu{
  position: absolute;
  bottom: 0;
  border: 1px solid black ;
  height: 20vh;
  width: 100vw;
  display: flex;
}

button {
  width: 20%;
  height: 30%;
}
#aliados{
 margin-right: 100px;
}

#Terra{
  background: brown;
}

.hpBar{
  background: green;
}

.chargeBar{
  height: 10px;
  width: 10px;
  background: #079;
}

.oculto{
  display: none;
}
